### Learn Python in One Day and Learn It Well
Python for Beginners with Hands-on Project
The only book you need to start coding in
Python immediately
By Jamie Chan

## Chapter - 3 : The World of Variables and Operators

### What Are Variable ?
Variables are names given to data that we need to store and manipulate 
in our program
userAge = 18
After you define the variable userAge, your program will allocate a 
certain area of your computer's storage space to store this data
 You can then access and modify this data by referring to it by its name, userAge.
Every time you declare a new variable, you need to give it an initial value.
We can always change this value 
in our program later.

We can also define multiple variables at one go. To do that simply write

In [8]:
userAge, userName = 25, 'Sanjiv'
# This is Equivalent to 
# userAge = 30
# userName = 'Stephan'
print("User Age : ", userAge)
print("User Name : ", userName)

User Age :  25
User Name :  Sanjiv

In [1]:
carBrand, carName = "Lamborgini", "Aventador"

print("Car Brand : {} | Car Name : {} " .format(carBrand,carName))

Car Brand : Lamborgini | Car Name : Aventador

### Naming a Variable
Finally, variable names are case sensitive. username is not the same as 
userName.

In [17]:
username = 'Sanjeev'
userName = 'Stephan'

print('username : ',username)
print('userName : ',userName)

username :  Sanjeev
userName :  Stephan

There are two conventions when naming a variable in Python
* Camel case-notion
* Underscores

| Camel Case | Underscores |
|------------|-------------|
| thisIsAVariable | this_is_a_variable |

### The Assignment Sign
Note that the = sign in the statement userAge = 0 has a different
meaning from the = sign we learned in Math.
 In programming, the = sign
is known as an assignment sign. It means we are assigning the value on
the right side of the = sign to the variable on the le
t. A good way to
understand the statement userAge = 0 is to think of it as userAg  <-
0.
The statements x = y and y = x have very different meanings in
programming.
Confused? An example will likely clear this up.

In [18]:
x = 5
y = 10
x = y 
print(f"The Value of 'x' is ",x)
print(f"The Value of 'y' is ",y)
# Now run the program. You should get this output 
# By Pressing ( Shift + Enter ) in Jupyter-Notebooks

The Value of 'x' is  10
The Value of 'y' is  10

Although x has an initial value of 5 (declared on the first line), the third
line x = y assigns the value of y to x (x <- y), hence changing the
value of x to 10 while the value of y remains unchanged

In [7]:
#  Change the third line from x = y to y = x. 
# Mathematically, x = y and y = x mean the same thing. However, this is not so in programming.
x = 60 
y = 10
y = x
print(f"The Value of x is a the Same ", x )
print(f"The Value of y is Changed to ", y )

The Value of x is a the Same  60
The Value of y is Changed to  60

### Basic Operators
Besides assigning a variable an initial value, we can also perform the usual mathematical operations on variables. 
Basic operators in Python include 
| Operators     | Signs Used | 
|---------------|------------|
| Addition      | ( + )      |
| Substraction  | ( - )      |
| Multiplication| ( * )      |
| Division      | ( / )      |
| Modulus       | ( % )      |
| Exponent      | ( ** )     |


* Floor Division: x//y = 2 (rounds down the answer to the nearest whole number)
* Modulus: x%y = 1 (gives the remainder when 5 is divided by 2)
* Exponent: x**y = 25 (5 to the power of 2)

### More Assignment Operators

Besides the = sign, there are a few more assignment operators in Python 
(and most programming languages

| More Assisgnment Operators | Signs | Same As   | 
|----------------------------|-------|-----------|
|         Add To             |  +=   | X = X + 2 |
|      Substract From        |  -=   | X = X - 2 |
|      Multiply From         |  *=   | X = X * 2 |
|      Divide From           |  /=   | X = X / 2 |

The same works for all the 7 operators mentioned in the previous section.e
)

## Data-Types in Python

Basic Data-Types
* Integers
* Float
* Strings
* Double

Advanced Data-Types
* List
* Tuple
* Dictionary

### Integers 
Integers are numbers with no decimal parts, such as -5, -4, -3, 0, 5, 7 etc

In [20]:
# To declare an integer in Python, simply write 
# variableName  = initial value

userAge = 20
mobileNumber = 987654321

print("The Value of 'userAge'  : " , userAge)
print("The Value of 'mobileNumber: ", mobileNumber)

The Value of 'userAge'  :  20
The Value of 'mobileNumber:  987654321

### Float
Float refers to numbers that have decimal parts, such as 1.234, -0.023, 
12.01

In [21]:
# Example
userHeight = 1.82 
userWeight =  67.2

### String
String refres to Text.

In [22]:
# To declare a string, you can either use
variableName = 'initial value' # ( Single Quotes )
variableName = "Initial Value" # ( Double Quotes )

In [23]:
# Examples 
userName = "Stephan"
userOS  = " Kali Linux"

userAge = 30 # Integer -> without-quotes ( ' ' )
print(f"The Data-Type of userAge = 30 is ",type(userAge))
userAge = '30' # Strings -> with-quotes ( ' ' )
print(f"The Data-Type of userAge = '30' is", type(userAge))

The Data-Type of userAge = 30 is  <class 'int'>
The Data-Type of userAge = '30' is <class 'str'>

#### Formatting Strings using the % Operator

In [24]:
brand = 'Apple'
exchangeRate = 1.235235245
message = 'The price of this %s laptop is %d USD and the exchange rate is %4.2f USD to 1 EUR' %(brand, 1299, exchangeRate)
print (message)

The price of this Apple laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR

The %s formatter is used to represent a string (“Apple” in this case) while
the %d formatter represents an integer (1299). If we want to add spaces
before an integer, we can add a number between % and d to indicate the
desired length of the string. For instance “%5d” %(123) will give us “
123” (with 2 spaces in front and a total length of 5).

#### Built-in Strings Functions
Python includes a number of built-in functions to manipulate strings. A
function is simply a block of reusable code that performs a certain task

In [25]:
# Lets look all the Built-in Strings Functions
userName = 'sanjeev stephan'

In [26]:
# 1. len(Strings ) -> Returns the length (the number of characters) of a string.
len(userName)

15

In [27]:
# 2. string.upper() -> Returns a copy of the string with all characters in uppercase.
userName.upper()

'SANJEEV STEPHAN'

In [28]:
# 3. string.lower(): Returns a copy of the string with all characters in lowercase.
userName.lower()

'sanjeev stephan'

In [29]:
# 4 string.capitalize(): Returns a copy of the string with the first character capitalized and the rest in lowercase.
userName.capitalize()

'Sanjeev stephan'

In [30]:
# 5. string.title(): Returns a copy of the string with the first character of each word capitalized and the rest in lowercase.
userName.title()

'Sanjeev Stephan'

In [31]:
# 6. string.strip([characters]): Returns a copy of the string with leading and trailing characters removed (default is whitespace).
carName = "% lamborgini %"
percentageStripped = carName.strip("%")
print("Without '%' on both sides : ",percentageStripped)
whiteSpaceStripped = percentageStripped.strip()
print("Without ' ' on both sides : ",whiteSpaceStripped)

Without '%' on both sides :   lamborgini
Without ' ' on both sides :  lamborgini

In [5]:
justAnotherName = "@@ hello Wold ##"
removedFirstSign = justAnotherName.strip("@")
removeSecondSign = removedFirstSign.strip("#")
removedSpace = removeSecondSign.strip(" ")
print("Removed '@' : ", removedFirstSign)
print("Removed '#' : ", removeSecondSign)
print("Removed ' ' : " , removedSpace)

Removed '@' :   hello Wold ##
Removed '#' :   hello Wold
Removed ' ' :  hello Wold

In [32]:
# 7. string.lstrip([characters]): Returns a copy of the string with leading characters removed (default is whitespace).
print("Remove '%' from Leading-Side : ", carName.lstrip("%"))

Remove '%' from Leading-Side :   lamborgini %

In [33]:
# 7. string.rstrip([characters]): Returns a copy of the string with trailing characters removed (default is whitespace).
print("Remove '%' from Trailing-Side : ", carName.rstrip("%"))

Remove '%' from Trailing-Side :  % lamborgini

In [34]:
# 8. string.replace(old, new): Replaces all occurrences of the old substring with the new substring (default is all occurrences)
carName = "%%%% % %%% lamborgini aventador % % %%% "
print("Before 'carName.replace(old,new)' : ",carName)
percentageRemoved = carName.replace('%','')
print("After  'carName.replace(old,new) : ", percentageRemoved )
spaceRemoved = percentageRemoved.replace(' ','')
print("With    Spaces :", percentageRemoved )
print("Without Spaces :", spaceRemoved )

Before 'carName.replace(old,new)' :  %%%% % %%% lamborgini aventador % % %%%
After  'carName.replace(old,new) :     lamborgini aventador
With    Spaces :    lamborgini aventador
Without Spaces : lamborginiaventador

In [6]:
# 9. string.startswith(prefix[, start[, end]]): Returns True if the string starts with the specified prefix (substring).
text = "Hello, Python!"

# Check if the string starts with a prefix
result = text.startswith("Hello")
print("Output of Result : ", result)
# print the Result

if result:
    print(f"The String Startws with Hello")
else:
    print(f"The String doesn't Starts with Hello!")

Output of Result :  True
The String Startws with Hello

In [36]:
# 10. string.endswith(suffix[, start[, end]]): Returns True if the string ends with the specified suffix (substring).

# check if the string ends with a prefix
result = text.endswith("Python!")

# print the result
if result:
    print(f"The String Ends with Python")
else:
    print(f"The Strings Doesn't Ends with Python")

The String Ends with Python

In [37]:
# 11. string.split([separator[, maxsplit]]): Splits the string into a list of substrings using the specified separator (default is whitespace).
# You can also specify the maximum number of splits.

textToSplit = "This is a simple text which we will split!"

textSplitted = textToSplit.split()
print(textSplitted)

['This', 'is', 'a', 'simple', 'text', 'which', 'we', 'will', 'split!']

In [38]:
# 12. string.join(iterable): Concatenates elements of an iterable (e.g., a list) into a single string, using the original string as a separator.
sampleText = "This is a sample text"
justAnotherText = "=> Text Just join Now 3"
textJoined = sampleText.join(justAnotherText)
print(textJoined)

=This is a sample text>This is a sample text This is a sample textTThis is a sample texteThis is a sample textxThis is a sample texttThis is a sample text This is a sample textJThis is a sample textuThis is a sample textsThis is a sample texttThis is a sample text This is a sample textjThis is a sample textoThis is a sample textiThis is a sample textnThis is a sample text This is a sample textNThis is a sample textoThis is a sample textwThis is a sample text This is a sample text3

In [39]:
# 13. string.find(sub[, start[, end]]): Searches for the first occurrence of the substring sub and returns its index. If not found, returns -1.

In [40]:
# 14. string.count(sub[, start[, end]]): Returns the number of non-overlapping occurrences of the substring sub in the string.

In [41]:
# 15. string.isalpha(): Returns True if all characters in the string are alphabetic.
alphabetText = "This is an Alphabet Text"
isThisAlphabet = alphabetText.isalpha()
if isThisAlphabet:
    print(f"This text is an Alphabet")
else:
    print(f"This text is not an Alphabet")

This text is not an Alphabet

In [42]:
# 16. string.isdigit(): Returns True if all characters in the string are digits.
digitText = "123455"

isThisTextDigit = digitText.isdigit()
# check for digit text -> digitText
if isThisTextDigit:
    print(f"This is a digit Text : ",digitText)
else:
    print(f"This is not a digit text : ",digitText)

isThisTextDigit = alphabetText.isdigit()
# check for digit text -> digitText
if isThisTextDigit:
    print(f"This is a digit Text : ",alphabetText)
else:
    print(f"This is not a digit text : ",alphabetText)

This is a digit Text :  123455
This is not a digit text :  This is an Alphabet Text

In [43]:
# 17. string.isalnum(): Returns True if all characters in the string are alphanumeric.

# 18. string.isupper(): Returns True if all characters in the string are uppercase letters.

# 19. string.islower(): Returns True if all characters in the string are lowercase letters.

# 20. string.isspace(): Returns True if all characters in the string are whitespace characters.

### Formatting Strings using the format() method
In addition to using the % operator to format strings, Python also provides us with the format() method to format strings. The syntax is

In [44]:
# Syntax
# “string to be formatted”.format(values or variables to be inserted into string, separated by commas)

messageToFormat = "Hello Friends, My Name is {} , I am {} year old and I am from {}" .format('Stephan',25,'India')
print(messageToFormat)

# Here we do not have to specify the position of the parameters. 
# The interpreter will replace the curly brackets based on the order of the parameters provided. We’ll get

Hello Friends, My Name is Stephan , I am 25 year old and I am from India

In [45]:
# To get a better understanding of the positional parameter format() method, try the following program.
messageOne = "{0} is Easy and Fun to Learn, then {1}" .format('Python','Java')
messageTwo = "{1} is Easy and Fun to Learn, then {0}" .format('Python','Java')
print(messageOne)
print(messageTwo)

Python is Easy and Fun to Learn, then Java
Java is Easy and Fun to Learn, then Python

You can use the Python Shell to experiment with the format() method.
Try typing in various strings and see what you ge

### Type Casting In Python
Sometimes in our program, it is necessary for us to convert from one data type to another, such as from an integer to a string.
This is known as type casting.

There are three built-in functions in Python that allow us to do type casting

| Type Casting Function | What does it Do |
|-----------------------|--------------------|
| int()                 | => takes in a float or an appropriate string and converts it to an integer |
| float()               | => takes in an integer or an appropriate string and changes it to a float.  | 
| str()                 | => converts an integer or a float to a string |

In [46]:
# The int() function in Python takes in a float or an appropriate string and converts it to an integer
# To change a float to an integer, we can type
int(5.712987)
# We’ll get 5 as the result (anything after the decimal point is removed)

5

In [47]:
# To change a string to an integer, we can type
int("4")

4

In [48]:
# However, we cannot type int (“Hello”) or
int('4.2232')
# We’ll get an error in both cases.s

ValueError: invalid literal for int() with base 10: '4.2232'

In [ ]:
# The float() function takes in an integer or an appropriate string and changes it to a float. 
float(2)
# we’ll get 2.0.

2.0

In [ ]:
# The str() function on the other hand converts an integer or a float to a string
str(456) 
# do you see that its enclosed in 'quotes' which means it a string now

'456'

### Advanced Data-Types in Python

| Adv Data-Types | What does it Do | 
|----------------|-----------------|
| List           | List refers to the collections of Data which are normally related |
| Tuple          | Tuples are just like List,but you cannot modify their Values, once declared | 
| Dictionary     | Dictionary is a collection of related data PAIRS { KEY : VALUE }  |

### The List
List refers to the collections of data which are normally related. Instead of storing data as separate variables, we can store them as a list.
For Instance, suppose our program needs to store the age of 5 Users.
Instead of storing them as `user1Age`,`user2Age`,`user3Age` and `user4Age`. It makes more sense to store them as a `List`

To Declare a `List`, you write `listName` = `[initial values]`. Note that we use square brackets `[]` when declaring a list.
Multiple Values are separated by a comma

In [ ]:
# Example of The list
userAge = [22,25,30,33,34]

# Another List
userName = ['Sanjeev','Stephan','Alex','Murphy','Mark']

print(userAge)
print(userName)

[22, 25, 30, 33, 34]
['Sanjeev', 'Stephan', 'Alex', 'Murphy', 'Mark']

In [ ]:
# We can also declare a list without assigning any initial values to it. We'll simply write
listCars = []
# What we have here is an empty `list` with no items in it. We'll use `append()` method to add items to the list.

listCars.append("BMW")
listCars.append('Ford')
listCars.append('Jeep')
listCars.append('Tesla')

# Let's Print it 
print(listCars)

['BMW', 'Ford', 'Jeep', 'Tesla']

Individual values in the list are accessible by their indexes, and indexes always start from ZERO, not 1.
Hence the first value has an index of 0, the next has an index of 1 and so forth.

In [ ]:
# For Instance

print(f"The Car at Index 0 : ", listCars[0])
print(f"The Car at Index 3 : ", listCars[3])

The Car at Index 0 :  BMW
The Car at Index 3 :  Tesla

 To Delete items, we'll write `del listName[index of item to be deleted]`

In [ ]:
# Lets Delete Some itesm
print(f"The Item at Index 2 is : ",listCars[2])
# ItemToBeDeleted = listCars[2]
# del listCars[2]
print(f"The Itme which has been deleted is : ",listCars[2])

The Item at Index 2 is :  Mustang
The Itme which has been deleted is :  Mustang

To Modify items in a List, we write `listName[index of item to be modified] = new value.`

In [ ]:
# Before Modifying 
print("Before Modifying 'listCars[2]` = ",listCars)

# Modify list-item 
listCars[2] = "Mustang"

print("After Modifying 'listCars[2]`  = ",listCars)

Before Modifying 'listCars[2]` =  ['BMW', 'Ford', 'Mustang', 'Tesla']
After Modifying 'listCars[2]`  =  ['BMW', 'Ford', 'Mustang', 'Tesla']

In [ ]:
# Declaring the List, list elements can be of different data-types 
multipleDataTypeList = [1,2,5,"Hello",6.45]

# Print the Entire List
print("The List of Items in 'multipleDataTypeList' : {}" .format(multipleDataTypeList))

# fetch and store the length of the list 
total_items_in_the_list = len(multipleDataTypeList)

#print the total length of the list
print("The Total Length of the List is : {}" .format(total_items_in_the_list))

# print the third index item from the list ( index starts from 0)
print("The Third Index Item is : {}" .format(multipleDataTypeList[3]))

# print the last item without know the index number 
print("The List Index item is : {}" .format(multipleDataTypeList[-1]))

# assign only numbers (from index 0 to 3 ) to the second list 'onlyIntegerList'
onlyIntegerList = multipleDataTypeList[0:3]
print("The List with only Integers Value : {}" .format(onlyIntegerList))

# replace the item at index 4 which is a float with another string 'world'
multipleDataTypeList[4] = "World"
print("List with new Item 'world' : {}" .format(multipleDataTypeList))

# get the length of the current list and substract by 1 go remove the last item 
curent_list_length = len(multipleDataTypeList)
index_no_to_remove = curent_list_length - 1

# remove the last item from the List and print the update list every-time it is removed
del multipleDataTypeList[index_no_to_remove]
print("The List Items After Removal of Last Item : {}" .format(multipleDataTypeList))

# loop through the list and if 'hello' is found then replace it with 'stephan'

The List of Items in 'multipleDataTypeList' : [1, 2, 5, 'Hello', 6.45]
The Total Length of the List is : 5
The Third Index Item is : Hello
The List Index item is : 6.45
The List with only Integers Value : [1, 2, 5]
List with new Item 'world' : [1, 2, 5, 'Hello', 'World']
The List Items After Removal of Last Item : [1, 2, 5, 'Hello']

### Tuple
Tuples are just like lists, but you cannot modify thier values once initialized.
The initial values are the values that will stay for the rest of the program.

To declare a tuple, you write `tupleName = (initial values)`.
Notice that we use round brackets `( )` when declaring a tuple. 
Multiple values are separated by a comma.

In [ ]:
#  An example where tuples are useful is when your program needs to store the names of the months of the year.

monthsOfTheYear = ('Jan','Feb','March','April','May','June','July','August','Sept','Oct','Nov','Dec')

# You access the individual values of a tuple using their indexes, just like with a list.
print(f'The Month at Index 0 will be : ', monthsOfTheYear[0] )
print(f'The Month at Index -1 will be : ', monthsOfTheYear[-1])

The Month at Index 0 will be :  Jan
The Month at Index -1 will be :  Dec

### Dictionary
Dictionary is the collections of related Data PAIRS.
For Instance, if we want to store the `username` and `age` of 5 users, we can store them in a dictionary.

To declare a dictionary, you write `dictionaryName = { dictionary_key : data }` with the requirement that dictionary keys must be unique (within one dictiaonry)
Note : That is, you cannot declare a dictionary like this `myDictionary` = `{ 'Peter' : 30, 'John' : 41 , 'Peter' : 54}`

In [ ]:
# Example
userBiodata = { 'Peter' : 33 , 'John' : 44 , 'Alexa' : 'Note-Available'}

This is because “Peter” is used as the dictionary key twice. Note that we
use curly brackets { } when declaring a dictionary. Multiple pairs are
separated by a comma.

##### Syntax

| Task                    | Dictionary Syntax |  
|-------------------------|-------------------|
| Declare using variable  | dictionaryName = { dictionaryKey : data } |
| Declare using `dict()`  | dictionaryName = dict(key = value, key = value) | 
| Access Value            | dictionayrName['key'] |
| Modify the Item Value   | dictionaryName[dictionary key of item to be modified] = new data | 
| Add New Item to `dict()`| dictionaryName['newKey'] = new data | 
| Delete Existing Key     | del dictionaryName['key'] |

You can also declare a dictionary using the dict( ) method. To declare
the userNameAndAge dictionary above, you write

In [2]:
userNameAndAge = dict(Peter = 38, John = 51, Alex = 13, Alvin = 'Not Available' )

# ''' 
# When you use this method to declare a dictionary, you use round
# brackets ( ) instead of curly brackets { } and you do not put quotation
# marks for the dictionary keys.
# '''

To access individual items in the dictionary, we use the dictionary key, which is the first value in the `{dictionary key : data} pair`

In [ ]:
print("The Age of `John` is : {} " .format(userNameAndAge['John']))

The Age of `John` is : 51

TO Modify items in a dictionary, we write `dictionaryName[dictionary key of item to be modified] = new data`.

In [ ]:
print('Before Making Changes | Dictionary -> ', userNameAndAge)
# Modify the Value of Key('John') 
userNameAndAge['John'] = 21
print('After Making Changes  | Dictionary -> ', userNameAndAge)

Before Making Changes | Dictionary ->  {'Peter': 38, 'John': 51, 'Alex': 13, 'Alvin': 'Not Available'}
After Making Changes  | Dictionary ->  {'Peter': 38, 'John': 21, 'Alex': 13, 'Alvin': 'Not Available'}

To Add Items to a dictionary, we write `dictionaryName[dictionaryKey] = data`

In [ ]:
print('Before Adding New Entry "Joe" -> ', userNameAndAge)
userNameAndAge['Joe'] = 55
print('After Adding New Entry "Joe" -> ', userNameAndAge)

Before Adding New Entry "Joe" ->  {'Peter': 38, 'John': 51, 'Alex': 13, 'Alvin': 'Not Available'}
After Adding New Entry "Joe" ->  {'Peter': 38, 'John': 51, 'Alex': 13, 'Alvin': 'Not Available', 'Joe': 55}

To Remove Items from a dictionary, we write `del dictionaryName[dictionary-key]`

In [ ]:
# Remove items from dictioanry
del userNameAndAge['Alvin']
print(userNameAndAge)

{'Peter': 38, 'John': 51, 'Alex': 13, 'Joe': 55}

In [3]:
for i in userNameAndAge:
    print(i)

Peter
John
Alex
Alvin

## Chapter 5 : Making Your Program Interactive

Now that we’ve covered the basics of variables, let us write a program
that makes use of them.
We’ll revisit the “Hello World” program
Instead of just saying hello to the world, we want the world to know our names and ages too. In
order to do that, our program needs to be able to prompt us for
information and display them on the screen.