### Learn Python in One Day and Learn It Well
Python for Beginners with Hands-on Project
The only book you need to start coding in
Python immediately
By Jamie Chan

## Chapter - 3 : The World of Variables and Operators

### What Are Variable ?
Variables are names given to data that we need to store and manipulate 
in our program
userAge = 18After you define the variable userAge, your program will allocate a 
certain area of your computer's storage space to store this data
 You ca 
then access and modify this data by referring to it by its name, userAge.
Every time you declare a new variable, you need to give it an initial va.
We can always change this value 
in our program later.lues

We can also define multiple variables at one go. To do that simply write

In [18]:
userAge, userName = 25, 'Stephan'
# This is Equivalent to 
# userAge = 30
# userName = 'Stephan'
print("User Age : ", userAge)
print("User Name : ", userName)

User Age :  25
User Name :  Stephan

### Naming a Variable
Finally, variable names are case sensitive. username is not the same as 
userName.

In [19]:
username = 'Sanjeev'
userName = 'Stephan'

print('username : ',username)
print('userName : ',userName)

username :  Sanjeev
userName :  Stephan

There are two conventions when naming a variable in Python
* Camel case-notion
* Underscores

| Camel Case | Underscores |
|------------|-------------|
| thisIsAVariable | this_is_a_variable |

### The Assignment Sign
Note that the = sign in the statement userAge = 0 has a different
meaning from the = sign we learned in Math.
 In programming, the = sign
is known as an assignment sign. It means we are assigning the value on
the right side of the = sign to the variable on the le
t. A good way to
understand the statement userAge = 0 is to think of it as userAg  <-
0.
The statements x = y and y = x have very different meanings in
programming.
Confused? An example will likely clear this up.

In [23]:
x = 5
y = 10
x = y 
print(f"The Value of 'x' is ",x)
print(f"The Value of 'y' is ",y)
# Now run the program. You should get this output 
# By Pressing ( Shift + Enter ) in Jupyter-Notebooks

The Value of 'x' is  10
The Value of 'y' is  10

Although x has an initial value of 5 (declared on the first line), the third
line x = y assigns the value of y to x (x <- y), hence changing the
value of x to 10 while the value of y remains unchanged

In [21]:
#  Change the third line from x = y to y = x. 
# Mathematically, x = y and y = x mean the same thing. However, this is not so in programming.
x = 5 
y = 10
y = x
print(f"The Value of x is a the Same ", x )
print(f"The Value of y is Changed to ", y )

The Value of x is a the Same  5
The Value of y is Changed to  5

### Basic Operators
Besides assigning a variable an initial value, we can also perform the usual mathematical operations on variables. 
Basic operators in Python include 
| Operators     | Signs Used | 
|---------------|------------|
| Addition      | ( + )      |
| Substraction  | ( - )      |
| Multiplication| ( * )      |
| Division      | ( / )      |
| Modulus       | ( % )      |
| Exponent      | ( ** )     |


* Floor Division: x//y = 2 (rounds down the answer to the nearest whole number)
* Modulus: x%y = 1 (gives the remainder when 5 is divided by 2)
* Exponent: x**y = 25 (5 to the power of 2)

### More Assignment Operators

Besides the = sign, there are a few more assignment operators in Python 
(and most programming languages

| More Assisgnment Operators | Signs | Same As   | 
|----------------------------|-------|-----------|
|         Add To             |  +=   | X = X + 2 |
|      Substract From        |  -=   | X = X - 2 |
|      Multiply From         |  *=   | X = X * 2 |
|      Divide From           |  /=   | X = X / 2 |

The same works for all the 7 operators mentioned in the previous section.e
)

## Data-Types in Python

Basic Data-Types
* Integers
* Float
* Strings
* Double

Advanced Data-Types
* List
* Tuple
* Dictionary

### Integers 
Integers are numbers with no decimal parts, such as -5, -4, -3, 0, 5, 7 etc

In [27]:
# To declare an integer in Python, simply write 
# variableName  = initial value

userAge = 20
mobileNumber = 987654321

print("The Value of 'userAge'  : " , userAge)
print("The Value of 'mobileNumber: ", mobileNumber)

The Value of 'userAge'  :  20
The Value of 'mobileNumber:  987654321

### Float
Float refers to numbers that have decimal parts, such as 1.234, -0.023, 
12.01

In [28]:
# Example
userHeight = 1.82 
userWeight =  67.2

### String
String refres to Text.

In [29]:
# To declare a string, you can either use
variableName = 'initial value' # ( Single Quotes )
variableName = "Initial Value" # ( Double Quotes )

In [36]:
# Examples 
userName = "Stephan"
userOS  = " Kali Linux"

userAge = 30 # Integer -> without-quotes ( ' ' )
print(f"The Data-Type of userAge = 30 is ",type(userAge))
userAge = '30' # Strings -> with-quotes ( ' ' )
print(f"The Data-Type of userAge = '30' is", type(userAge))

The Data-Type of userAge = 30 is  <class 'int'>
The Data-Type of userAge = '30' is <class 'str'>

#### Formatting Strings using the % Operator

In [42]:
brand = 'Apple'
exchangeRate = 1.235235245
message = 'The price of this %s laptop is %d USD and the exchange rate is %4.2f USD to 1 EUR' %(brand, 1299, exchangeRate)
print (message)

The price of this Apple laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR

The %s formatter is used to represent a string (“Apple” in this case) while
the %d formatter represents an integer (1299). If we want to add spaces
before an integer, we can add a number between % and d to indicate the
desired length of the string. For instance “%5d” %(123) will give us “
123” (with 2 spaces in front and a total length of 5).

#### Built-in Strings Functions
Python includes a number of built-in functions to manipulate strings. A
function is simply a block of reusable code that performs a certain task

In [45]:
# Lets look all the Built-in Strings Functions
userName = 'sanjeev stephan'

In [47]:
# 1. len(Strings ) -> Returns the length (the number of characters) of a string.
len(userName)

15

In [46]:
# 2. string.upper() -> Returns a copy of the string with all characters in uppercase.
userName.upper()

'SANJEEV STEPHAN'

In [48]:
# 3. string.lower(): Returns a copy of the string with all characters in lowercase.
userName.lower()

'sanjeev stephan'

In [50]:
# 4 string.capitalize(): Returns a copy of the string with the first character capitalized and the rest in lowercase.
userName.capitalize()

'Sanjeev stephan'

In [53]:
# 5. string.title(): Returns a copy of the string with the first character of each word capitalized and the rest in lowercase.
userName.title()

'Sanjeev Stephan'

In [73]:
# 6. string.strip([characters]): Returns a copy of the string with leading and trailing characters removed (default is whitespace).
carName = "% lamborgini %"
percentageStripped = carName.strip("%")
print("Without '%' on both sides : ",percentageStripped)
whiteSpaceStripped = percentageStripped.strip()
print("Without ' ' on both sides : ",whiteSpaceStripped)

Without '%' on both sides :   lamborgini
Without ' ' on both sides :  lamborgini

In [76]:
# 7. string.lstrip([characters]): Returns a copy of the string with leading characters removed (default is whitespace).
print("Remove '%' from Leading-Side : ", carName.lstrip("%"))

Remove '%' from Leading-Side :   lamborgini %

In [77]:
# 7. string.rstrip([characters]): Returns a copy of the string with trailing characters removed (default is whitespace).
print("Remove '%' from Trailing-Side : ", carName.rstrip("%"))

Remove '%' from Trailing-Side :  % lamborgini

In [96]:
# 8. string.replace(old, new): Replaces all occurrences of the old substring with the new substring (default is all occurrences)
carName = "%%%% % %%% lamborgini aventador % % %%% "
print("Before 'carName.replace(old,new)' : ",carName)
percentageRemoved = carName.replace('%','')
print("After  'carName.replace(old,new) : ", percentageRemoved )
spaceRemoved = percentageRemoved.replace(' ','')
print("With    Spaces :", percentageRemoved )
print("Without Spaces :", spaceRemoved )

Before 'carName.replace(old,new)' :  %%%% % %%% lamborgini aventador % % %%%
After  'carName.replace(old,new) :     lamborgini aventador
With    Spaces :    lamborgini aventador
Without Spaces : lamborginiaventador